body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
  overflow: scroll;

  .left-sidebar {
    background-color: #191970;
    color: white;
    text-align: center;
  }

  .page-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .shuffle-btn {
      button {
        border: none;
        background-color: #191970;
        color: white;
        width: 280px;
        height: 50px;
      }
    }
  }
}
